.App {
  text-align: center;
}
.Appheader {
  width: 100%;
  position: sticky;
  background-color: rgb(16, 148, 67);
  height: 150px;
  padding: 20px;
  color: #000;
  background-image: url(./Images/background.jpg);
  background-size: cover;
  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
@media(max-width:500px)
{
 
  .Appheader .nav{
 display: none;
  }
  .Appheader h1{
    margin-bottom: 5px;
  }
}