.Selector{
 padding-top: 50px;
}
.Selection{
 width: 100%;
 align-self: center;
 align-items: center;
 padding-bottom: 30px;
}
.Selection select{
 width: 80%;
 height: 40px;
 border: lightgreen 2px solid;
 border-radius: 40px;
}
.Chart{
 height: 400px;
}